#centrer_page {
    width: 1160px;
    margin: auto;
}

body {
    background-color: #f5f5f5;
}

#main {
    width: 1160;
}

@font-face {
    font-family: "Lato";
    src: url('../font/Lato-Bold-Copie.woff');
    src: url('../font/Lato-Bold.ttf') format('truetype'),
    url('../font/Lato-Bold-Copie-_2_.otf') format('opentype');
    font-family: "Lato";
    src: url('../font/Lato-Italic-Copie.woff');
    src: url('../font/Lato-Italic.ttf') format('truetype'),
    url('../font/Lato-Italic-Copie-_2_.otf') format('opentype');
    font-family: "Lato";
    src: url('../font/Lato-Regular-Copie.woff');
    src: url('../font/Lato-Regular.ttf') format('truetype'),
    url('../font/Lato-Regular-Copie-_2_.otf') format('opentype');
}

@font-face {
    font-family: "Raleway";
    src: url('../font/Raleway-Bold-Copie.woff');
    src: url('../font/Raleway-Bold.ttf') format('truetype'),
    url('../font/Raleway-Bold-Copie-_2_.otf') format('opentype')
    font-family: "Raleway";
    src: url('../font/Raleway-Italic-Copie.woff');
    src: url('../font/Raleway-Italic.ttf') format('truetype'),
    url('../font/Raleway-Italic-Copie-_2_.otf') format('opentype')
    font-family: "Raleway";
    src: url('../font/Raleway-Regular-Copie.woff');
    src: url('../font/Raleway-Regular.ttf') format('truetype'),
    url('../font/Raleway-Regular-Copie-_2_.otf') format('opentype')
}

.font_title {
    font-family: "Lato", sans-serif;
}

* {
    font-family: "Raleway", sans-serif;
}

.text_header {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    margin: 0px;
}

h2 {
    color: #17abb3
}

header {
    background-color: #17abb3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}

#title_nav {
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#photo {
    border-radius: 100px;
    border: solid 5px #ffffff;
}

#sections {
    display: flex;
    flex-direction: row;
}

#section_gauche {
    background-color: #e3e3e3;
    width: 25%;
    padding: 50px;
}

#section_droite {
    background-color: #ffffff;
    width: 75%;
    padding: 50px;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bleu {
    color: #17abb3;
}

p {
    text-indent: 25px;
}

ul {
    list-style-type: square;
}

.hauteur_ligne {
    line-height: 2;
}

.fond_gris:hover {
    background-color: #333333;
}

a {
    text-decoration: none;
}

footer {
    background-color: #17abb3;
}